# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

.env
abc.env


# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml

# Uploaded data
data/

# Logs
*.log

# Environment
.env

# Qdrant local
qdrant_storage/

# Build
dist/
build/
