fastapi
python-multipart
uvicorn
python-dotenv

qdrant-client
groq

pymupdf
pypdf==4.2.0

numpy<2

torch==2.2.2
transformers==4.38.2
sentence-transformers==2.2.2

huggingface_hub==0.20.3

streamlit
requests
rank-bm25
ollama

pydantic>=2.7.0